
# Python
__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environments
.env
.venv
env/
venv/
ENV/

.gitignore
.gitattributes

# MLflow
mlruns/
mlartifacts/
outputs/

# Data (ignorar datos, mantener metadatos de DVC)
data/**
!data/**/*.dvc
!data/**/.gitkeep
!data/**/*.gitignore
!data/README.md

# Models
models/*
!models/.gitkeep

# Credentials
/config/credentials.yaml

# DVC
.dvc/
/dvc.lock
/dvc.yaml

# Logs
*.log
logs/
